@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap");

* {
    font-family: "Quicksand", sans-serif;
}

body {
    margin: 0;
    padding: 0;
    background-color: #cecece;
}

.container {
    width: 500px;
}

form {
    width: 40%;
    margin: 30px auto;
    padding: 25px;
    border-radius: 10px;
    margin-bottom: 50px;
}

form div {
    margin-top: 20px;
}

form div h1 {
    text-align: center;
    justify-content: center;
    font-weight: 600;
    text-shadow: 0 0 15px black;
}

form div label {
    font-weight: 600;
    font-size: 20px;
}

form div input,
select,
textarea {
    box-shadow: 0 10px 20px #adacac;
}

form .btn-input-form {
    text-align: right;
}

form .btn-input-form button {
    color: white;
    border: 1px solid black;
    background-color: black;
    padding: 8px 30px;
    border-radius: 10px;
    font-size: 20px;
    text-align: right;
}

input,
select,
textarea {
    background-color: whitesmoke;
    border: 1px solid white;
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    border-radius: 5px;
    resize: none;
}

/* navbar styling */

nav {
    background-color: #565656;
    display: flex;
    align-items: center;
    height: 10vh;
}

nav ul {
    display: flex;
    list-style-type: none;
    align-items: center;
}

nav ul li {
    margin-right: 30px;
}

nav ul li a {
    text-decoration: none;
    color: black;
    font-weight: 600;
    font-size: 20px;
}

nav ul li a:hover {
    color: white;
}

.nav-left {
    flex: 50%;
}

.nav-left img {
    width: 50px;
}

.nav-right {
    flex: 50%;
    text-align: end;
    margin-right: 30px;
}

.nav-right a {
    text-decoration: none;
    background-color: black;
    padding: 6px 20px;
    color: white;
    border-radius: 10px;
    font-weight: 500;
}

.nav-right a:hover {
    background-color: orangered;
    color: white;
}

.nav-right button {
    font-size: 20px;
}

#barsmenuicon {
    display: none;
}

.hamburger-nav-container {
    display: grid;
    text-decoration: none;
    display: none;
}

.hamburger-nav-container a {
    display: flex;
    font-size: 25px;
    text-decoration: none;
    background-color: orangered;
    padding: 20px;
    align-items: center;
    justify-content: center;
    color: black;
    border: 1px solid white;
}

.hamburger-nav-container .hamburger-active {
    background-color: orangered;
    color: white;
}

.hamburger-nav-container button {
    border: 1px solid black;
    background-color: black;
    color: white;
    padding: 10px 25px;
    border-radius: 10px;
    font-size: 20px;
}

.hamburger-nav-container button:hover {
    background-color: orangered;
    color: white;
    padding: 10px 25px;
    border-radius: 10px;
    font-size: 20px;
}

/* ! media queries responsive*/

/* tablet */
@media only screen and (max-width: 900px) {
    form {
        width: 60%;
        margin: 10px auto;
        padding: 5px;
        border-radius: 10px;
        margin-bottom: 50px;
    }

    .hamburger-menu {
        display: none;
    }

    #barsmenuicon {
        display: block;
    }
}

/* mobile */
@media only screen and (max-width: 550px) {
    .container .containe {
        width: 768;
        margin-left: auto;
        margin-right: auto;
    }
}