/* backgroun color */
body {
    background-color: #e2dede;
}

/* img */
.blog .form-blog .form-container h1 {
    text-align: center;
    text-shadow: 0px black;
}

/* blog detail styling*/

.detail-blog h1 {
    text-align: center;
    text-shadow: 0 0 px black;
    margin-top: 50px;
}

.detail-blog-container {
    padding: 50px;
}

.detail-blog-container .detail-content-top {
    display: flex;
}

.detail-blog-container .detail-content-top img {
    margin-right: 50px;
    width: 60%;
    height: 500px;
    object-fit: cover;
    box-shadow: 0 0 20px black;
}

.detail-blog-container .detail-content-top .sec-detail-top .detail-calendar {
    display: flex;
    align-items: center;
    margin-top: -15px;
    gap: 10px;
    font-size: 20px;
    font-weight: 400;
}

.detail-blog-container .detail-content-top .sec-detail-top .detail-clock {
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 20px;
    font-weight: 400;
}

.detail-blog-container .detail-content-top .sec-bottom-grouping {
    display: grid;
    grid-template-columns: auto auto;
    align-items: center;
}

.detail-blog-container .detail-content-top .sec-bottom-grouping div {
    display: flex;
    align-items: center;
    gap: 20px;
    margin-right: 20px;
    margin-top: -15px;
    font-size: 20px;
    font-weight: 400;
}

.detail-blog-container .detail-content-bottom {
    margin-top: 50px;
    text-align: justify;
}