<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
      integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM"
      crossorigin="anonymous"
    />
    <title>Personal Web</title>
  </head>
  <body>
    <!-- navbar section -->

    <nav class="navbar navbar-expand-lg bg-body-secondary">
      <div class="container">
        <a class="navbar-brand" href="#"><img
            style="max-width: 200px"
            src="/images/uchiha.PNG"
            id=""
            alt="#"
            width="50"
            height="45"
          />
        </a>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item fw-bold ms-3">
              <a class="nav-link" aria-current="page" href="/index">Home</a>
            </li>

            <li class="nav-item fw-bold ms-3">
              <a class="nav-link active" href="/blog">
                Add Project
              </a>
            </li>
          </ul>
          <!-- button contact -->
          <div class="d-flex">
            <a
              class="btn btn-outline-danger fw-bold"
              type="submit"
              href="/contact"
            >Contact Me</a>
          </div>
        </div>
      </div>
    </nav>

    <!-- content section -->
    <div class="container-card d-flex">
      <div
        class="card container-card-content d-flex align-items-center justify-content-center"
      >
        <div class="card-list-content d-flex flex-row p-5">
          <div class="card-body card-body-text p-0">
            <h2 class="card-title">Welcome To My Web Kris</h2>
            <p class="card-text pe-4 mt-4">
              Perkenalkan saya kris, saya membuat web ini untuk mengembangkan
              skill dalam belajar berkarir sebagai "Fullstack Developer", saya
              membuat sebuah website statis dengan menggunakan bahasa markup
              language html, bahasa style css dan javascript, untuk
              mengembangkan skill saya belajar membuat website ini dengan
              mengikuti step by step dan belajar dari teman dan webnya sama
              persis dengan teman saya, dan saya juga akan mengubah desain per
              desain agar saya dapat memahami penempatan dan cara menghubungkan
              html ke css dan javascript.
            </p>

            <div
              class="card-content-list d-flex flex-sm-row align-items-center mt-5"
            >
              <button class="btn btn-dark rounded-pill ps-4 pe-4 me-4">
                <a class="text-light fs-6 fw-bolder" href="/contact">
                  Contact
                </a>
              </button>

              <a
                class="text-dark fs-6 fw-bolder"
                href="CV.pdf"
                download
              >Download CV
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  fill="none"
                  viewBox="0 0 34 32"
                  stroke-width="1.2"
                  stroke="currentColor"
                  width="30px"
                >
                  <path
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    d="M3 16.5v2.25A2.25 2.25 0 005.25 21h13.5A2.25 2.25 0 0021 18.75V16.5M16.5 12L12 16.5m0 0L7.5 12m4.5 4.5V3"
                  />
                </svg>
              </a>
            </div>

            <div class="social-media mt-5 d-flex gap-4 fs-2">
              <a href="https://www.linkedin.com/in/kris05/"><i
                  class="icon-sosmed fa-brands fa-linkedin text-dark"
                ></i></a>
              <a href="https://www.instagram.com/kris.laoli/"><i
                  class="icon-sosmed fa-brands fa-instagram text-dark"
                ></i></a>
              <a href="https://www.facebook.com/crislaoli14"><i
                  class="icon-sosmed fa-brands fa-facebook text-dark"
                ></i></a>
              <a href="https://twitter.com/Krislaoli_"><i
                  class="icon-sosmed fa-brands fa-twitter text-dark"
                ></i></a>
            </div>
          </div>

          <div
            class="card card-profile d-flex align-items-center justify-content-center rounded-3 shadow"
          >
            <img
              class="card-img-top rounded-top-3"
              src="/images/kris.JPG"
              alt="card-photo"
            />
            <div class="card-body rounded-3">
              <h3 class="card-title fs-5 fw-bolder text-center">
                M. Kristian Laoli
              </h3>
              <p class="text-card fs-5 text-center">Fullstack Developer</p>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- my project content -->

    <div class="my-project-container">
      <h2 class="text-center fw-bold pb-5 pt-5">My Project
        <a
          class="btn mb-5 mt-5 fw-bold btn-warning c text-bold"
          href="/blog-detail/2000"
        >Update </a></h2>

      <div
        class="row card-content gap-4 p-5 d-flex align-items-center justify-content-center"
      >

        <div class="col-lg-3 col-md-6 col-sm-12 col-xs-12">
          <div class="card card-my-project">
            <div class="card-body rounded-3 shadow">
              <img
                class="card-img-top rounded-3"
                src="/images/a.jpg"
                alt="test"
              />
              <a href="/blog" class="fw-bolder fs-5">SpongeBob</a>
              <p>durasi: 3 bulan</p>
              <p>SpongeBob adalah spons laut eksentrik</p>
              <div class="d-flex gap-3 mb-3">
                <i class="fa-brands fa-js"></i>
                <i class="fa-brands fa-python"></i>
                <i class="fa-brands fa-php"></i>
                <i class="fa-brands fa-java"></i>
              </div>

              <div
                class="btn-group gap-3 d-flex flex-row justify-content-center p-2"
              ><a
                  class="col btn btn-danger pt-1 pb-1 btn-submit"
                  href="/blog"
                >Submit</a>
                <a
                  class="col btn btn-warning pt-1 pb-1 btn-delete"
                  href="/blog"
                >Delete</a>
              </div>
            </div>
          </div>
        </div>

        <div class="col-lg-3 col-md-6 col-sm-12 col-xs-12">
          <div class="card card-my-project">
            <div class="card-body rounded-3 shadow">
              <img
                class="card-img-top rounded-3"
                src="/images/b.jpg"
                alt="test"
              />
              <a href="#" class="fw-bolder fs-5">Gary si Siput</a>
              <p>durasi: 3 bulan</p>
              <p>Gary peliharaan SpongeBob SquarePants</p>
              <div class="d-flex gap-3 mb-3">
                <i class="fa-brands fa-js"></i>
                <i class="fa-brands fa-python"></i>
                <i class="fa-brands fa-php"></i>
                <i class="fa-brands fa-java"></i>
              </div>

              <div
                class="btn-group gap-3 d-flex flex-row justify-content-center p-2"
              >
                <a
                  class="col btn btn-danger pt-1 pb-1 btn-submit"
                  href="/blog"
                >Submit</a>
                <a
                  class="col btn btn-warning pt-1 pb-1 btn-delete"
                  href="/blog"
                >Delete</a>
              </div>
            </div>
          </div>
        </div>

        <div class="col-lg-3 col-md-56col-sm-12 col-xs-12">
          <div class="card card-my-project">
            <div class="card-body rounded-3 shadow">
              <img
                class="card-img-top rounded-3"
                src="/images/c.jpg"
                alt="test"
              />
              <a href="#" class="fw-bolder fs-5">Patrick Star</a>
              <p>durasi: 3 bulan</p>
              <p>Patrick Star adalah seekor bintang laut</p>
              <div class="d-flex gap-3 mb-3">
                <i class="fa-brands fa-js"></i>
                <i class="fa-brands fa-python"></i>
                <i class="fa-brands fa-php"></i>
                <i class="fa-brands fa-java"></i>
              </div>

              <div
                class="btn-group gap-3 d-flex flex-row justify-content-center p-2"
              >
                <a
                  class="col btn btn-danger pt-1 pb-1 btn-submit"
                  href="/blog"
                >Submit</a>
                <a
                  class="col btn btn-warning pt-1 pb-1 btn-delete"
                  href="/blog"
                >Delete</a>
              </div>
            </div>
          </div>
        </div>

        {{! <div class="col-lg-3 col-md-6 col-sm-12 col-xs-12">
          <div class="card card-my-project">
            <div class="card-body rounded-3 shadow">
              <img
                class="card-img-top rounded-3"
                src="/images/d.jpg"
                alt="test"
              />
              <a href="#" class="fw-bolder fs-5">Squidward Tentacles</a>
              <p>durasi: 3 bulan</p>
              <p>Squidward gurita yg bertetangga dgn SpongeBob</p>
              <div class="d-flex gap-3 mb-3">
                <i class="fa-brands fa-js"></i>
                <i class="fa-brands fa-python"></i>
                <i class="fa-brands fa-php"></i>
                <i class="fa-brands fa-java"></i>
              </div>

              <div
                class="btn-group row gap-3 d-flex justify-content-center p-2"
              >
                <a
                  class="col btn btn-danger pt-1 pb-1 btn-submit"
                  href="/blog"
                >Submit</a>
                <a
                  class="col btn btn-warning pt-1 pb-1 btn-delete"
                  href="/blog"
                >Delete</a>
              </div>
            </div>
          </div>
        </div>

        <div class="col-lg-3 col-md-5 col-sm-12 col-xs-12">
          <div class="card card-my-project">
            <div class="card-body rounded-3 shadow">
              <img
                class="card-img-top rounded-3"
                src="/images/e.jpg"
                alt="test"
              />
              <a href="#" class="fw-bolder fs-5">Tuan Krabs</a>
              <p>durasi: 3 bulan</p>
              <p>kepiting yg juga pemilik dari restoran burger Krusty Krab</p>
              <div class="d-flex gap-3 mb-3">
                <i class="fa-brands fa-js"></i>
                <i class="fa-brands fa-python"></i>
                <i class="fa-brands fa-php"></i>
                <i class="fa-brands fa-java"></i>
              </div>

              <div
                class="btn-group row gap-3 d-flex justify-content-center p-2"
              >
                <a
                  class="col btn btn-danger pt-1 pb-1 btn-submit"
                  href="/blog"
                >Submit</a>
                <a
                  class="col btn btn-warning pt-1 pb-1 btn-delete"
                  href="/blog"
                >Delete</a>
              </div>
            </div>
          </div>
        </div>

        <div class="col-lg-3 col-md-6 col-sm-12 col-xs-12">
          <div class="card card-my-project">
            <div class="card-body rounded-3 shadow">
              <img
                class="card-img-top rounded-3"
                src="/images/f.jpg"
                alt="test"
              />
              <a href="#" class="fw-bolder fs-5">Plankton</a>
              <p>durasi: 3 bulan</p>
              <p>pemilik tempat makan Chum Bucket yang sepi pengunjung</p>
              <div class="d-flex gap-3 mb-3">
                <i class="fa-brands fa-js"></i>
                <i class="fa-brands fa-python"></i>
                <i class="fa-brands fa-php"></i>
                <i class="fa-brands fa-java"></i>
              </div>

              <div
                class="btn-group row gap-3 d-flex justify-content-center p-2"
              >
                <a
                  class="col btn btn-danger pt-1 pb-1 btn-submit"
                  href="/blog"
                >Submit</a>
                <a
                  class="col btn btn-warning pt-1 pb-1 btn-delete"
                  href="/blog"
                >Delete</a>
              </div>
            </div>
          </div>
        </div> }}

      </div>
    </div>

    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz"
      crossorigin="anonymous"
    ></script>
  </body>
</html>